@{
    ViewData["title"] = Localizer["ROMS_INDEX_TITLE"];
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" class="navmenu">@Localizer["HOME"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Localizer["BREADCRUMB_ROMS"]</li>
    </ol>
</nav>

<h2>@Localizer["ROMS_INDEX_TITLE"]</h2>

<p>
    @Html.Raw(Localizer["ROMS_INDEX_INTRO"])
</p>

<div class="list-group">
    <a asp-controller="Roms" asp-action="Add" class="navmenu list-group-item list-group-item-action text-primary">
        <i class="icustom-folder-down"></i> @Localizer["ROMS_INDEX_COPY"]
    </a>
    <a asp-controller="Roms" asp-action="Delete" class="navmenu list-group-item list-group-item-action text-primary">
        <i class="icustom-folder-up"></i> @Localizer["ROMS_INDEX_DELETE"]
    </a>
    <a asp-controller="Roms" asp-action="Keep" class="navmenu list-group-item list-group-item-action text-primary">
        <i class="icustom-folder-minus"></i> @Localizer["ROMS_INDEX_KEEP"]
    </a>
</div>
