@{
    ViewData["title"] = Localizer["ROMS_KEEP_TITLE"];
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" class="navmenu">@Localizer["HOME"]</a></li>
        <li class="breadcrumb-item"><a asp-controller="Roms" asp-action="Index" class="navmenu">@Localizer["BREADCRUMB_ROMS"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Localizer["BREADCRUMB_ROMS_KEEP"]</li>
    </ol>
</nav>

<h2>
    @Localizer["ROMS_KEEP_TITLE"]
    <a asp-controller="Help" asp-action="Shares" class="navmenu">@Localizer["ROMS_COPY_HOWTOACCESS"]</a>
</h2>

<p>
    @Html.Raw(Localizer["ROMS_KEEP_INTRO"])
</p>

<div class="alert alert-danger">
    @Localizer["ROMS_DELETE_ALERT"]
</div>

<div class="input-group mb-0">
    <div class="input-group-prepend">
        <span class="input-group-text">@Localizer["ROMS_COPY_CSVFILE"]</span>
    </div>
    <input type="text" class="form-control" id="fileMainCsv">
    <div class="input-group-append">
        <button class="btn btn-outline-primary browse" type="button" data-input="fileMainCsv">@Localizer["BROWSE"]</button>
    </div>
</div>
<p class="mt-0 mb-3">
    <small class="form-text text-muted">@Localizer["ROMS_COPY_CSVFILE_DESC"]</small>
</p>

<!-- Selection romset location -->
<div class="input-group mb-0">
    <div class="input-group-prepend">
        <span class="input-group-text">@Localizer["ROMS_KEEP_FOLDER"]</span>
    </div>
    <input type="text" class="form-control" id="fileRomSelection">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary browse folder" type="button" data-input="fileRomSelection">@Localizer["BROWSE"]</button>
    </div>
</div>
<p class="mt-0 mb-3">
    <small class="form-text text-muted">@Localizer["ROMS_KEEP_FOLDER_DESC"]</small>
</p>

<p class="mt-3">
    <button type="button" id="buttonOk" class="btn btn-primary btn-lg btn-block">@Localizer["ROMS_KEEP_KEEP"]</button>
</p>

@section Scripts {
    <script>$(() => {
            getOs((os) => {
                if (!os) { return; }
                getAppData((data) => {
                    if (!data) { return; }
                    $('#fileRomSelection').attr("placeholder", data.defaults.roms[os][platform]);
                });
            });

            // run copy
            $('#buttonOk').on('click', () => {
                // get paths from file inputs
                let main = $('#fileMainCsv').val(),
                    selection = $('#fileRomSelection').val();

                // check every path is filled
                if (main === '') { window.alert('@Html.Raw(Localizer.Js("ERROR_NOCSV"))'); return; }
                if (selection === '') { window.alert('@Html.Raw(Localizer.Js("ERROR_NOSELECTION"))'); return; }

                ipc("roms-keep", { main, selection });
            });
        });</script>
}
