<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline'">

    <title>ArcadeManager - @ViewData["Title"]</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/icustom.css">
    <link rel="stylesheet" href="/css/icomoon.css">

    @await RenderSectionAsync("Head", required: false)
</head>
<body>
    <div class="container-fluid mt-3">
        <div id="content">
            @RenderBody()
        </div>

        <hr>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="progress">
        <div class="modal-dialog modal-lg" role="document" data-backdrop="static" data-keyboard="false">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Localizer["PROGRESS_PLEASEWAIT"]</h5>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"></div>
                    </div>
                    <p class="text-center details"></p>
                    <p class="text-center stop">
                        <button class="btn btn-outline-danger btn-sm pl-5 pr-5">@Localizer["PROGRESS_STOP"]</button>
                    </p>
                    <p class="d-none msg"></p>
                    <div class="alert alert-info log">

                    </div>
                </div>
                <div class="modal-footer d-none">
                    <a href="#" class="d-none open btn btn-outline-info">@Localizer["PROGRESS_OPENRESULTS"]</a>
                    <button type="button" class="btn btn-success" data-dismiss="modal">@Localizer["CLOSE"]</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Fixes jQuery integration https://stackoverflow.com/a/37480521/6776 -->
    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script>if (window.module) module = window.module;</script>
    <script>
        // global JS variables
        const platform = '@ArcadeManagerEnvironment.Platform';
    </script>
    <script src="/js/site.js"></script>
    <script src="/js/progress.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
