@{
    ViewData["title"] = Localizer["CSV_DOWNLOAD_TITLE"];
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" class="navmenu">@Localizer["HOME"]</a></li>
        <li class="breadcrumb-item"><a asp-controller="Csv" asp-action="Index" class="navmenu">@Localizer["BREADCRUMB_CSV"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Localizer["BREADCRUMB_CSV_DOWNLOAD"]</li>
    </ol>
</nav>

<h2>@Localizer["CSV_DOWNLOAD_TITLE"]</h2>

<p>
    @Html.Raw(Localizer["CSV_DOWNLOAD_INTRO"])
</p>

<div class="row">
    <div class="col-4">
        <div class="list-group" id="csvs">
            <a href="#" class="list-group-item list-group-item-action" data-folder="fbneo">
                <p class="mb-0 mt-0 font-weight-bold text-primary name">@Localizer["CSV_DOWNLOAD_LIST_FBNEO_NAME"]</p>
                <p class="mb-0 mt-0 text-muted desc"><small>@Localizer["CSV_DOWNLOAD_LIST_FBNEO_DESC"]</small></p>
            </a>

            <a href="#" class="list-group-item list-group-item-action" data-folder="mame">
                <p class="mb-0 mt-0 font-weight-bold text-primary name">@Localizer["CSV_DOWNLOAD_LIST_MAME_NAME"]</p>
                <p class="mb-0 mt-0 text-muted desc"><small>@Localizer["CSV_DOWNLOAD_LIST_MAME_DESC"]</small></p>
            </a>

            <a href="#" class="list-group-item list-group-item-action" data-folder="mame2003">
                <p class="mb-0 mt-0 font-weight-bold text-primary name">@Localizer["CSV_DOWNLOAD_LIST_MAME2003_NAME"]</p>
                <p class="mb-0 mt-0 text-muted desc"><small>@Localizer["CSV_DOWNLOAD_LIST_MAME2003_DESC"]</small></p>
            </a>
        </div>
    </div>
    <div class="col-8" id="files">@Localizer["CSV_DOWNLOAD_SELECTEMULATOR"]</div>
</div>

<script type="text/template" id="csvItemTemplate">
    <a href="#" class="list-group-item list-group-item-action">
        <p class="mb-0 mt-0 font-weight-bold text-primary name"></p>
        <p class="mb-0 mt-0 text-muted desc"><small></small></p>
    </a>
</script>

<script type="text/template" id="fileItemTemplate">
    <a href="#" class="list-group-item list-group-item-action">
        <h6 class="mb-0 mt-0 file"></h6>
        <p class="mb-0 mt-0 text-muted desc"></p>
    </a>
</script>

@section Scripts {
    <script>
        $(() => {
            $('#csvs a').on('click', (e) => {
                e.preventDefault();

                // get data
                const a = $(e.currentTarget),
                    folder = a.attr('data-folder');

                // toggle active
                $('#csvs').find('a').removeClass('active');
                a.addClass('active');

                // load content
                listFiles(folder);
            });
        });

        function listFiles(folder) {
            const name = folder; // for the string interpolation in the translation message
            $('#files').empty().html(`@Localizer["CSV_DOWNLOAD_LOADING"]`);
            const template = $('#fileItemTemplate').html();

            getLocalList(folder, (data) => {
                $('#files').empty();

                for (let filedetail of data) {
                    const fileItem = $(template);
                    fileItem.find('.file').text(filedetail.filename);
                    fileItem.find('.desc').html(filedetail.description);
                    if (filedetail.types.indexOf('main') >= 0) {
                        fileItem.addClass('text-primary border-primary');
                    }

                    // handle click
                    fileItem.on('click', (e) => {
                        newFile(filedetail.filename, (filename) => {
                            if (!filename) { return; }

                            copyFile(filedetail.filepath, filename, true, (success) => {
                                // TODO: ask the user? not sure
                                //ipc('open-folder', filename);
                            });
                        });
                    });

                    $('#files').append(fileItem);
                }
            });
        }
    </script>
}
