@{
    ViewData["Title"] = Localizer["HOME"];
}

<h1 class="display-4"><i class="icon-pacman"></i> ArcadeManager</h1>

<hr>

<div class="dropdown" id="flags">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
        <img src="img/flags/@(Localizer.CurrentLocale()).svg" alt="" />
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        @foreach (var l in Localizer.Locales) {
            <a class="dropdown-item @(Localizer.IsCurrentLocale(l) ? "active" : "")" href="?lang=@l">
                <img src="img/flags/@(l).svg" alt="" />
                @Localizer.CultureName(l)
            </a>
        }
    </div>
</div>

@Html.Raw(Localizer["HOME_INTRO"])

<h2>
    @Html.Raw(Localizer["HOME_ACTION_TITLE"])
</h2>

<div class="row mainmenu">
    <div class="col-3">
        <a asp-controller="Wizard" asp-action="Index" class="navmenu">
            <div class="card text-center border-primary">
                <img class="card-img-top" src="img/wizard.png">
                <div class="card-footer">
                    @Localizer["HOME_ACTION_WIZARD"]
                </div>
            </div>
        </a>
    </div>

    <div class="col-3">
        <a asp-controller="Overlays" asp-action="Index" class="navmenu overlays">
            <div class="card text-center border-primary">
                <img class="card-img-top" src="img/overlays.png">
                <div class="card-footer">
                    @Localizer["HOME_ACTION_OVERLAYS"]
                </div>
            </div>
        </a>
    </div>

    <div class="col-3">
        <a asp-controller="Roms" asp-action="Index" class="navmenu">
            <div class="card text-center border-primary">
                <img class="card-img-top" src="img/roms.png">
                <div class="card-footer">
                    @Localizer["HOME_ACTION_ROMS"]
                </div>
            </div>
        </a>
    </div>

    <div class="col-3">
        <a asp-controller="Csv" asp-action="Index" class="navmenu">
            <div class="card text-center border-primary">
                <img class="card-img-top" src="img/csv.png">
                <div class="card-footer">
                    @Localizer["HOME_ACTION_CSV"]
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row mt-4">
    <div class="col-10 help">
        <div class="list-group">
            <a asp-controller="Help" asp-action="Index" class="navmenu list-group-item list-group-item-action text-primary border-primary">
                <i class="icon-help"></i> @Localizer["HELP"]
            </a>
        </div>
    </div>
    <div class="col-2 system">
        <div class="list-group">
            <a asp-controller="Home" asp-action="Os" class="navmenu list-group-item list-group-item-action text-info border-info">
                @Localizer["HOME_ACTION_SYSTEM"]
            </a>
        </div>
    </div>
</div>

<!-- update modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<h1 class="display-4" id="versionName"></h1>
				<p class="lead">
                    @Localizer["HOME_UPDATE_PUBLISHEDON"]
                    <span id="versionDate"></span>
                    -
                    <a href="#" class="blank" id="versionLink">@Localizer["HOME_UPDATE_MOREINFOS"]</a>
                    (@Localizer["HOME_UPDATE_CURRENTVERSION"] <span id="versionCurrent"></span>)
				</p>
				<div id="versionDetails" class="card p-3" style="max-height: 200px; overflow: auto;"></div>
				<div class="mt-3 list-group" id="versionAssets"></div>
			</div>
			<div class="modal-footer">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="ignoreVersion" />
                    <label class="form-check-label" for="ignoreVersion">@Localizer["HOME_UPDATE_DONOTNOTIFY"]</label>
                    </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="ignoreVersionButton">@Localizer["CLOSE"]</button>
			</div>
		</div>
	</div>
</div>

@section Scripts {
    <script>
        $(() => {
            // check that an OS has been selected
            getOs((os) => {
                // go to OS selection if none is set
                if (typeof os === 'undefined' || os === null || os === '') {
                    window.location.href = '@Url.Action("Os", "Home")';
                }

                if (os === 'none') {
                    // disable overlays entry if no OS has been selected
                    $('.mainmenu .overlays')
                        .prop('disabled', true)
                        .addClass('disabled')
                        .removeClass('navmenu')
                        .attr('href', '#')
                        .off('click')
                        .find('.card')
                        .removeClass('border-primary')
                        .on('click', () => { window.location.href = '@Url.Action("KnownSystems", "Help")'; });
                } else {
                    // Add system logo
                    $('.help').removeClass('col-10').addClass('col-8');
                    $('.system').removeClass('col-2').addClass('col-4')
                        .find('.list-group a').prepend($('<img src="img/' + os + '-h.png">'));
                }
            });

            // checks if an update is available
            checkUpdate((version) => {
                if (!version) { return; }

                $('#versionName').text(version.name);
                $('#ignoreVersion').val(version.tagName);
				$('#versionDate').text(version.publishedAtLocal);
				$('#versionLink').attr('href', version.url);
				$('#versionCurrent').text(version.current);
                $('#versionDetails').html(version.body);
                if (version.assets) {
                    for (let i = 0; i < version.assets.length; i++) {
                        const asset = version.assets[i];
						const li = $('<a href="' + asset.downloadURL + '" class="list-group-item list-group-item-action blank">' + asset.name
							+ ' <span class="badge badge-pill badge-light">' + asset.humanSize + '</span></a>');
                        $('#versionAssets').append(li);
                    }
                } else {
                    $('#versionAssets').remove();
				}

                $('#updateModal').modal('show');
            });

            // ignore latest version
            $('#ignoreVersionButton').on('click', () => {
                if ($('#ignoreVersion').prop('checked')) {
                    ipc('update-ignore', $('#ignoreVersion').val());
				}
            });
        });
    </script>
}
